<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>The Best Palindrome Checker in the World!</title>
    <!--link href="../public/site.css" type="text/css" rel="stylesheet"/>-->
</head>
<body>
    <header>
        <h1>The Best Palindrome Checker in the World!</h1>
    </header>
    <main>
        <section>
            <article>
                <p>
                    A palindrome string is defined as a sequence of characters 
                    which reads the same from either direction. Examples of palindrome 
                    strings are: 12345678987654321 , racecar. This site will check if 
                    the inputted string is a palindrome or not.
                </p>               
            </article>
            {{{body}}}
        </section>
    </main>
</body>
</html>