<header>
    <h1>The Best Palindrome Checker in the World!</h1>
</header>
<section>
    <article>        
        <p> A palindrome string is defined as a sequence of characters
            which reads the same from either direction. Examples of palindrome: </p>

        <ol>
            <li>12345678987654321</li>
            <li>racecar</li>
        </ol>

        <p>This site will check if the inputted string is a palindrome or not.</p>
    </article>

    <article>
        <form action="/result" method="post">            
            <label id="stringTester">Text to Test</label><br />
            <input type="text" id="textToTest" name="textToTest" placeholder="Enter String Here" />

            <button type="submit" id="button">Submit</button>
        </form>
    </article>

</section>