<header>
    <h1>The Palindrome Results!</h1>
</header>
<section>
    <article>
        <p class={{setColor}}> {{textToTest}} </p>
    </article>
    <article>
        <p>{{message}}</p>
    </article>
    <article>
        <a href="/">Try a New String</a>
    </article>
</section>