<form method="post" action="../../public/form.js">
    <label id="test-to-check">Enter String to Test:
        <input type="text" placeholder="Enter String Here" 
               name="text-to-test" id="text-to-test" />
    </label>
    <br/>
    <button type="submit" id="button">Submit</button>
    <br/>
</form>