<form method="post" action="../../public/form.js">
    <label id="">Enter String to Test:
        <input type="text" placeholder="Enter String Here" 
               name="test-string" id="test-string" />
    </label>
    <br/>
    <button type="submit" id="button">Submit</button>
    <br/>
</form>