<form id="input-form" method="post">
    <div>
        <label for="text-to-test"></label>
        <input type="text" id="text-to-test" name="text-to-test" placeholder="Text to Check" value="{{text-to-test}}" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>